<header class="header">
    <a class="header__logo" routerLink="/pokemons">
        <h1 class="heading">Pokemon Trainer</h1>
    </a>
    <nav *ngIf="isLoggedIn" class="header-nav">
        <a class="header-nav__a" routerLink="/pokemons" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="link-active">Pokemons</a>
        <a class="header-nav__a" routerLink="/profile" routerLinkActive="link-active">Profile</a>
    </nav>
</header>