.header {
    background: var(--col-primary-blue);
    height: 5rem;
    padding: 0 15%;
    display: flex;
    align-items: center;
}

.header__logo {
    white-space: nowrap;
    color: white;
    text-decoration: none;
}

.header-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-nav__a {
    text-decoration: none;
    color: white;
    margin-left: 1.5em;
}

.link-active {
    border-bottom: 2px solid white;
    margin-bottom: -2px;
}