<main>
    <app-container>
        <div *ngIf="isFetching">
            <p>Fetching pokemon</p>
        </div>
    
        <div *ngIf="!isFetching">
    
            <section *ngIf="pokemon">
                <div class="pokemon-details-wrapper">
                    <app-pokemon-details-basestats
                        [id]="pokemon?.id"
                        [name]="pokemon?.name"
                        [types]="pokemon?.types"
                        [stats]="pokemon?.stats"
                    ></app-pokemon-details-basestats>
                    <app-pokemon-details-profile
                        [height]="pokemon?.height"
                        [weight]="pokemon?.weight"
                        [abilities]="pokemon?.abilities"
                        [base_experience]="pokemon?.base_experience"
                    ></app-pokemon-details-profile>
                    <app-pokemon-details-moves
                        [moves]="pokemon?.moves"
                    ></app-pokemon-details-moves>
                </div>
                <div class="pokemon-details-collect-wrapper">
                    <button class="btn-primary" [disabled]="hasPokemon"
                    (click)="onCatchClicked()"
                    >Catch pokemon</button>
                    <p *ngIf="hasPokemon">You have this pokemon in your collection!</p>
                </div>
            </section>
        
            <div *ngIf="!pokemon">
                <app-pokemon-details-not-found [error]="error"></app-pokemon-details-not-found>
            </div>
        </div>
    </app-container>
</main>