<a *ngIf="pokemon" class="pokemon-list-item__link" routerLink="/pokemons/{{pokemon?.id}}">
    <div class="pokemon-list-item__link-content" >
        <app-pokemon-image [imageSrc]="pokemon.image"></app-pokemon-image>
        <p>{{pokemon.name}}</p>
    </div>
</a>