.profile-pokemon-list-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1em;
    row-gap: 1em;
}

@media screen and (max-width: 992px) {
    .profile-pokemon-list-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .profile-pokemon-list-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}