<section>
    <h2>Your Pokemon collection</h2>
    <div class="profile-pokemon-list-wrapper">
        <app-profile-pokemon-list-item 
            *ngFor="let pokemon of pokemons"
            [pokemon]="pokemon"
        ></app-profile-pokemon-list-item>
    </div>
</section>