.pokemon-details-basestats__header {
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: .5em;
}

.pokemon-details-basestats-main {
    text-align: center;
}

.pokemon-details-basestats-content {
    margin-bottom: 1em;
}