<article>
    <h1 class="pokemon-details-basestats__header">Pokemon basestats</h1>
    <div class="pokemon-details-basestats-content pokemon-details-basestats-main">    
        <app-pokemon-image [imageHeight]="'160px'" [imageSrc]="image"></app-pokemon-image>
        <h2>{{ name }}</h2>
    </div>
    <div class="pokemon-details-basestats-content">
        <h4>Stats</h4>
        <p *ngFor="let stat of stats">
            <span>{{ stat.stat.name }}</span>: {{ stat.base_stat }}
        </p>
    </div>
    <div class="pokemon-details-basestats-content">    
        <h4>Types</h4>
        <p *ngFor="let type of types">
            {{ type.type.name }}
        </p>
    </div>
</article>