button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
    padding: .25em .5em;
    font-size: 1em;
}

button:disabled {
    background: grey;
    border: 1px solid grey;
}

.btn-primary:enabled {
    background: var(--col-primary-blue);
    color: white;
    border: 1px solid var(--col-primary-blue);
}

.btn-primary:enabled:hover {
    cursor: pointer;
    background: white;
    color: var(--col-primary-blue);
}

.btn-danger:enabled {
    background: var(--col-danger-btn);
    color: white;
    border: 1px solid var(--col-danger-btn);
}

.btn-danger:enabled:hover {
    cursor: pointer;
    background: var(--col-danger-btn-hover);
    color: white;
}