<article>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <fieldset>
            <label for="username">Username</label>
            <input placeholder="Enter your trainer name"
                id="username" 
                name="username"
                required
                minlength="2"
                [ngClass]="{ 'is-valid': username.valid, 'is-invalid': (username.invalid && ( username.dirty || username.touched )) }"
                ngModel #username="ngModel" 
            />
            <div *ngIf="username.errors && username.invalid && ( username.dirty || username.touched )">
                <p class="invalid-feedback" *ngIf="username.errors.required">The username is required</p>
                <p class="invalid-feedback" *ngIf="username.errors.minlength">The username is too short</p>
            </div>
        </fieldset>
    
        <button class="btn-primary login-form__submit" type="submit" [disabled]="loginForm.invalid">Start your journey!</button>
    </form>
</article>