input {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}

fieldset {
    border: none;
    padding: 0;
    margin-bottom: 1.5em;
}

.is-valid {
    border: 1px solid var(--col-success);
}

.is-invalid {
    border: 1px solid var(--col-error);
}

.invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: var(--col-error);
}