<main>
    <app-container>
        <div class="profile-hero">
            <h1>Hi, {{ user?.username }}</h1>
            <p>Welcome to your profile</p>
            <button 
                class="btn-danger profile-hero__deleteProfileBtn" 
                (click)="onProfileDeleteClicked()">Delete profile</button>
        </div>
        <app-profile-pokemon-list 
            [pokemons]="user?.collectedPokemons"
        >
        </app-profile-pokemon-list>
    </app-container>
</main>