.profile-pokemon-list-item__link {
    text-decoration: none;
    color: black;
}

.profile-pokemon-list-item__link-content {
    border: 1px solid transparent;
    border-radius: .5em;
    border-color: var(--col-primary-blue);
    text-align: center;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .20);  
    padding-bottom: .5em;
}

.profile-pokemon-list-item__link-content:hover {
    box-shadow: 0 0 1em var(--col-primary-blue);
}