<a *ngIf="pokemon" class="profile-pokemon-list-item__link" routerLink="/pokemons/{{pokemon?.id}}">
    <div class="profile-pokemon-list-item__link-content" >
        <app-pokemon-image [imageSrc]="pokemon?.imageURL"></app-pokemon-image>
        <p>{{pokemon?.name}}</p>
    </div>
</a>