<article>
    <h1>404 - No pokemon found</h1>
    <div *ngIf="error">
        <p>{{ error }}</p>
    </div>
    <div *ngIf="!error">
        <p>No request sent - did you input a character in the URL?</p>
    </div>
</article>