<main class="login-page">
    <app-container>
        <div class="login-page-hero">
            <h1>Welcome!</h1>
            <p>Enter your trainer username below, and start your journey!</p>
        </div>
        <app-login-form></app-login-form>
    </app-container>
</main>