<article>
    <h1 class="pokemon-details-moves__header">Pokemon moves</h1>
    <div class="pokemon-details-moves-table-wrapper">
        <table class="pokemon-details-moves-table">
            <tbody>
                <tr *ngFor="let move of moves">
                    <td>{{ move.move.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</article>