.pokemon-details-moves__header {
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: .5em;
}

.pokemon-details-moves-table-wrapper {
    overflow-y: scroll;
    max-height: 400px;
}

.pokemon-details-moves-table {
    border-collapse: collapse;
    width: 100%;
}

.pokemon-details-moves-table th,
.pokemon-details-moves-table td {
    padding: 8px;
}

.pokemon-details-moves-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.pokemon-details-moves-table tr:hover {
    background-color: #ddd;
}