<article>
    <h1 class="pokemon-details-profile__header">Pokemon profile</h1>

    <div class="pokemon-details-profile-content">
        <h4>Height</h4>
        <p>{{ height }}</p>
    </div>
    
    <div class="pokemon-details-profile-content">
        <h4>Weight</h4>
        <p>{{ weight }}</p>
    </div>

    <div class="pokemon-details-profile-content">
        <h4>Base experience</h4>
        <p>{{ base_experience }}</p>
    </div>

    <div class="pokemon-details-profile-content">
        <h4>Abilities</h4>
        <p *ngFor="let ability of abilities">
            {{ ability.ability.name }}
        </p>
    </div>
</article>