@import "./styles/buttons.css";

:root {
    --col-primary-blue: #3b4cca;
    --col-danger-btn: #ed254e;
    --col-danger-btn-hover: #bb2d3b;
    --col-success: #198754;
    --col-error: #dc3545;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}