<section class="pokemon-list-wrapper">
    <app-pokemon-list-item 
        *ngFor="let pokemon of pokemons"
        [_pokemon]="pokemon"
        >
    </app-pokemon-list-item>
</section>
<div class="pokemon-list-nagivation">
    <button 
        class="btn-primary pokemon-list-nagivation__button" 
        [disabled]="!hasPrevious"
        (click)="getPrev()"
    ><span class="material-icons">
        arrow_back
        </span> Prev</button>
    <button 
        class="btn-primary pokemon-list-nagivation__button" 
        [disabled]="!hasNext"
        (click)="getNext()"
    >Next <span class="material-icons">
        arrow_forward
        </span></button>
</div>