.pokemon-list-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1em;
    row-gap: 1em;
}

.pokemon-list-nagivation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5em 0;
}

.pokemon-list-nagivation__button {
    margin: 0 1em;
}

@media screen and (max-width: 992px) {
    .pokemon-list-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .pokemon-list-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}